[Unit]
Description=DOCA hugepage configuration applied
Documentation=man:doca-hugepages(8)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/doca-hugepages reload
