#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

include /usr/share/dpkg/pkg-info.mk

export DH_OPTIONS
export PKG_VERSION=$(DEB_VERSION_UPSTREAM)
pname:=mlnx-tools

%:
	dh $@ --with python3

override_dh_auto_install:
	dh_auto_install
	sed -i -e '1s/python\>/python3/' \
		debian/mlnx-tools/usr/sbin/* \
		debian/mlnx-tools/usr/bin/* \
		debian/mlnx-tools/usr/share/mlnx-tools/python/*.py
